body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    background: linear-gradient(45deg,rgba(255, 166, 0, 0.904),rgba(219, 10, 45, 0.877),rgb(255, 255, 0));
}

.container {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    height: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.slider {
    position: relative;
    margin-top: 20px;
}

.slides {
    display: flex;
    overflow-x: hidden;
}

.slides img {
    width: 480px; /* Ensure images take full width */
    height: 480px; /* Maintain aspect ratio */
    transition: transform 0.5s ease;
}

.link{
    margin-bottom : 10px;
   color: transparent;
    background: linear-gradient(rgba(0, 238, 255, 0.801),blue,green);
    background-clip: text;
}
